.tree.third-level
  .tree-img
    img.tree-gray(src="images/tree/level-3/arbol-gris.png")
    img.tree-root(src="images/tree/level-3/tronco-level-3.png")
    .tree-branch(ng-repeat="child in treeVm.neurons.root.children track by $index"
                class="branch-level-3 second-level-branch-{{$index}} {{child.state}}")
      .tree-branch(ng-repeat="child1 in child.children track by $index"
                  class="branch-level-3 third-level-branch-{{$parent.$index*2 + $index}} {{child1.state}}")
  .tree-neuron-root.neuron(class="{{treeVm.neurons.root.state}} neuron")
    moi-neuron(options="treeVm.neurons.root" id="root" level="3")
  .tree-neuron-root(ng-repeat="child in treeVm.neurons.root.children track by $index"
                    class="second-level-{{$index}} {{child.state}} neuron")
    moi-neuron(options="child" id='second-level-{{$index}}' level="3")
    // TODO a better way to calculate classes
    .tree-neuron-root(ng-repeat="child1 in child.children track by $index"
                      class="third-level-{{$parent.$index*2 + $index}} {{child1.state}} neuron")
      moi-neuron(options="child1" id='third-level-{{$parent.$index*2 + $index}}' level="3")
