$darkBrown: #59372C;
$lightBrown: #CDB283;
$buttonColor: #FDF9BF;
$titlesColor: #7ECE56;
$linesColor: #6faf54;
$moiDarkGreen: #4A4B21;
$sourceColor: #BAD37F;
$errorMsg: #cc0000;
$black: #000;
$backgroundForm: #7DA462;
$borderContent: #112B1B;
$violeta: #9B519F;
$azul: #2F9CC8;
$rojo: #D62766;
$amarillo: #E5E510;
$verde: #7FB54A
