.searches-container {
  .back-arrow {
    .arrow-img {
      bottom: 15%;
      left: 20%;
    }
  }
  .frame {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .frame-container {
    width: 95%;
    height: 84%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 2%;
  }
}

.search-view-max {
  background-color: rgba(0, 0, 0, 0);

  .content-kind-contents {
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .format-image {
    height: 240px;
    width: 100%;
    box-shadow: 2px 5px 2px 1px $titlesColor;
  }

  .main-search-view {
    top: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../images/caja_L.png);
    background-size: 100% 100%;
  }
}

.content-searches {
  background-size: 100% 83%;

  form {
    position: absolute;
    right: 70px;
    top: 50px;
    width: 400px;

    label.item-input {
      background-image: url("../images/busqueda_bar.png");
      @include background-size(contain);
      background-position: left center;
      background-repeat: no-repeat;
      height: 60px;
      padding-left: 25px;
      line-height: 20px;
      margin-bottom: 10px;
    }
  }

  .list {
    margin-top: 0;
    margin-bottom: 0;
  }

  .list,
  label {
    background-color: transparent;
    border: 0;
  }

  .button {
    background-image: url("../images/telescopio.png");
    position: absolute;
    top: 5px;
    z-index: 2;
    right: 15px;
  }

  .result-searches {
    position: absolute;
    width: 92%;
    top: 135px;
    left: 35px;
    bottom: 130px;
    height: 65%;

    .scroll {
      display: flex;
      flex-wrap: wrap;

    }

    &.overflow-scroll {
      overflow-y: visible;
    }

    .neuron {
      height: 35%;

      .content-kind-contents{
        width: 100%;
        height: 100%;

        .leyend-bottom {
          font-size: 20px;
        }

        @media (max-width: 1000px) {
          .leyend-bottom {
            font-size: 17px;
          }
        }

        @media (max-width: 950px) {
          .leyend-bottom {
            font-size: 15px;
          }
        }

        @media (max-width: 850px) {
          .leyend-bottom {
            font-size: 12px;
          }
        }
      }
    }
  }
}
