.animate-sprite-wrapper(ng-click="vm.playAnimateSprite()"
                tooltip-moi="{{::vm.options.name}}"
                tooltip-position="up")
  moi-sound(sound="{{::vm.options.sound}}", ng-if="::vm.options.sound", callback="vm.endSound()")
  .img-animate(ng-style="vm.css"
               ng-mouseover="vm.increaseSize(true)"
               ng-mouseleave="vm.increaseSize(false)")
