#test-frame {
  background-color: transparent;

  .widgets {
    padding-top: 25px;
    padding-left: 10px;

    .progress-bar {
      width: 150px;
      height: 20px;
      border: 1px solid black;

      .internal-bar {
        background: #622A67;
        height: 100%;
        width: 0;
        position: relative;
        transition: 0.5s;
      }
    }
  }

  @media (max-height: 600px){
    .widgets {
      padding-top: 20px;
      .text-center {
        font-size: 20px;
      }
    }
  }

  @media (max-height: 550px){
    .widgets {
      padding-top: 10px;
      .text-center {
        font-size: 15px;
      }
    }
  }

  @media (max-width: 1150px){
    .widgets {
      padding-top: 10px;
    }
  }

  .frame-container {
    position: absolute;
    width: 95%;
    height: 88%;
    overflow: visible;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 2%;
  }

  .test-container {
    background-image: url("../images/test-frame.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 12%;
    height: auto;

    .main-image {
      display: flex;
      align-items: center;
      img {
        margin-left: 8%;
        max-width: 150px;
      }
      @media (max-width: 1000px) {
        img {
          max-width: 110px;
        }
      }
    }

    .question {
      position: relative;
    }

    .test {
      padding: 20px;
      margin-bottom: 5px;

      h1 {
        color: #622A67;
        position: absolute;
        text-align: center;
        bottom: 100%;
        width: 100%;
      }
      @media (max-width:1150px){
        h1{
          bottom: 95%;
        }
      }
      @media (max-height: 600px){
        h1 {
          font-size: 22px;
        }
      }
      @media (max-height: 550px){
        h1 {
          font-size: 16px;
        }
      }

      .answer {
        background-image: url("../images/caja-no-select.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: auto;
        margin-bottom: 5px;
        padding-left: 20%;
        padding-right: 10%;
        padding-bottom: 10px;
        cursor: pointer;
        color: white;
        text-align: center;

        h4 {
          padding-top: 10px;
          color: white;
          font-size: 25px;
        }
        @media (max-width: 1000px) {
          h4 {
            font-size: 18px;
          }
        }
        @media (max-height: 650px) {
          h4 {
            font-size: 15px;
          }
        }
        @media (max-height: 510px) {
          h4 {
            font-size: 13px;
          }
        }
      }

      .answer-selected {
        background-image: url("../images/caja-select.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }

    .pista {
      display: flex;
      align-items: center;

      span {
        margin-left: 60px;
        background-image: url("../images/pista-test.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 50px;
        width: 70%;
      }
    }
  }

  .controls {
    text-align: center;
    .sound-button {
      display: flex;
      width: 100%;
      height: 60px;
      justify-content: center;
      align-items: center;
    }
    img {
      cursor: pointer;
    }

    img:hover {
      width: 50px;
      height: 50px;
    }
  }
}

.question-test {
  position: absolute;
  top: 47%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
