.modal-unread {
  .text-container {
    #content {
      text-align: center;
    }
  }

  .button-right {
    padding: 2em 1em;
    min-width: 170px;
  }

  .button-left {
    padding: 2em 0.5em;
    min-width: 170px;
  }

  .button-center{
    padding: 2em 2.5em;
    min-width: 170px;
  }

  .button.activated {
    background-color: transparent;
  }
}
