.frame-without-back-button {
  background-color: transparent;

  .overflow-scroll {
    overflow-y: hidden;
  }

  .frame {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url("../images/view-elements/frame-content.png");
    background-repeat: no-repeat;
    // background-size: 1280px 717px;
  }

  .frame-container {
    width: 95%;
    height: 88%;
    overflow: auto;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 2%;
  }
}
