.quiz-score
  .frame-container
.modal.transparent.summary-section
  ion-pane.transparent
    .modal-leaderboard.modal-frame
      .main-content
        .result.col
          h1.title Resultado
          h3.name  {{ ::'quiz.player' | translate }}: {{vmTest.playerName}}
          .points.summary
            p Respondiste {{vmTest.successAnswers}} de {{vmTest.totalQuestions}} preguntas correctamente
            p Tu tiempo fue: {{vmTest.timeQuiz}}
        .answers
          ul
            li(ng-repeat="answer in ::vmTest.answersQuiz")
              | {{answer.question}} {{answer.correct ? '✓' : 'x'}}
    .btn
      .button-container(ng-if="vmTest.currentUser")
        .btn-score.button(ng-click="::model.closeModal()"
                          ui-sref="tree({username: vmTest.currentUser.username})")
          | Ir al Árbol

      .button-container(ng-if="!vmTest.currentUser")
        .btn-score.button(ng-click="::model.closeModal()"
                          ui-sref="login")
          | Regresar
