ion-view#test-frame(view-title='{{vm.neuron.title}}')
  ion-content
    .frame-container
      div(ng-if="!vmTest.hideTest")
        .widgets(ng-if="!vmTest.testComplete")
          .progress-bar
            .internal-bar(style="width: {{vmTest.percentage}}%")
            span {{vmTest.percentage}}%
          .player
            h3.text-center Jugador: {{vmTest.playerName}}
        .partial.question-test(ng-if="!vmTest.testComplete" ng-include="'templates/partials/test-questions.html'")
      .complete-test(ng-if="vmTest.testComplete" ng-include="'templates/quiz/quiz-complete.html'")
    moi-frame(options="vmTest.frameOptions")
