// override default drawer
drawer {
  width: 275px;
}

drawer.left {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  background-color: transparent;
  box-shadow: none;
}

.flecha-sidebar {
  left: 2px;
  cursor: pointer;
  position: absolute;
  top: 44%;
  z-index: 1;
  height: 50px;
  img {
    height: 100%;
  }
}

.sidebar-menu {
  background-image: url(../images/view-elements/deslizah.png);
  background-size: 100% 100%;
  height: 100%;

  & > div {
    cursor: pointer;
    position: absolute;
    & > img {
      width: 100%;
      height: 100%;
    }
  }
  .settings-btns {
    position: absolute;
    width: 75%;
    height: 26%;
    top: 12%;
    left: 0;
    .settings-amigos{
      position: absolute;
      top: 13%;
      left: 16%;
      width: 67%;
    }
    .settings-rueda {
      position: absolute;
      top: 30%;
      left: 25%;
      width: 40%;
      z-index: 1;
    }
    .settings-inventario {
      position: absolute;
      top: 59%;
      left: 17%;
      width: 53%;
    }
    .settings-tutor {
      position: absolute;
      top: 32%;
      left: 40%;
      width: 48%;
      img{
        width: 86%;
        height: 106%;
      }
    }
  }

  .flecha-sidebar {
    left: 210px;
    top: 46%;
  }

  .settings-arbol, .settings-img-background {
    bottom: 5.5%;
    width: 15rem;
    height: 24.375rem;
    background-image: url("../images/back-arbol.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .tree{
      object-fit: cover;
    }
  }
  .view-tree{
    z-index: -1;
    width: 15rem;
    height: 25.375rem;
    .tree{
      width: 16rem;
      height: 26.4rem;
    }
  }
  .settings-img-background{
    background: transparent;
    left: 20px;
    border-radius: 30%;
    bottom: 9%;
    height: 37%;
  }

  .settings-default-tree {
    bottom: 5.5%;
    width: 15rem;
    height: 24.375rem;
  }

  .default-tree {
    background-image: url("../images/arbolito_despH.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
  }
}

@media (min-height: 400px) {
  .sidebar-menu {
    .settings-btns {
      .settings-amigos {
        top: 8%;
        left: 16%;
        width: 50%;
      }
      .settings-rueda {
        top: 30%;
        left: 25%;
        width: 30%;
      }
      .settings-inventario {
        top: 66%;
        left: 17%;
        width: 35%;
      }
      .settings-tutor {
        top: 36%;
        left: 40%;
        width: 38%;
      }
    }

    .settings-arbol, .settings-img-background {
      bottom: 2.5%;
    }
    .view-tree{
      .tree{
        height: 28rem;
      }
    }
  }

  .flecha-sidebar {
    top: 44%;
    height: 35px;
  }
}

@media (min-height: 600px) {
  .sidebar-menu {
    .settings-btns {
      .settings-amigos {
        top: 0;
        left: 16%;
        width: 57%;
      }
      .settings-rueda {
        top: 23%;
        left: 25%;
        width: 33%;
      }
      .settings-inventario {
        top: 61%;
        left: 17%;
        width: 45%;
      }
      .settings-tutor {
        top: 28%;
        left: 40%;
        width: 47%;
      }
    }
    .settings-arbol, .settings-img-background {
      bottom: 1.5%;
    }
    .view-tree{
      .tree{
        height: 26.8rem;
      }
    }
  }

  .flecha-sidebar {
    top: 45%;
    height: 40px;
  }
}

@media (min-height: 700px) {
  .sidebar-menu {
    .settings-btns {
      .settings-amigos {
        top: 8px;
        left: 13%;
        width: 64%;
      }
      .settings-rueda {
        top: 23%;
        left: 25%;
        width: 38%;
      }
      .settings-inventario {
        top: 61%;
        left: 17%;
        width: 50%;
      }
      .settings-tutor {
        top: 30%;
        left: 44%;
        width: 48%;
      }
    }
    .settings-arbol, .settings-img-background {
      bottom: 2%;
    }
    .view-tree{
      .tree{
        height: 26.7rem;
      }
    }
  }

  .flecha-sidebar {
    top: 45%;
    height: 40px;
  }
}

@media (min-height: 800px) {
  .sidebar-menu {
    .settings-btns {
      .settings-amigos {
        top: 14px;
        left: 10%;
        width: 67%;
      }
      .settings-rueda {
        top: 23%;
        left: 20%;
        width: 41%;
      }
      .settings-inventario {
        top: 58%;
        left: 12%;
        width: 52%;
      }
      .settings-tutor {
        top: 30%;
        left: 43%;
        width: 51%;
      }
    }
    .settings-arbol, .settings-img-background {
      bottom: 5.5%;
    }
    .view-tree{
      .tree{
        height: 28.5rem;
      }
    }
  }

  .view-tree {
    width: 15.0rem;
    height: 19.375rem;
  }
}
