ion-view.tasks(view-title='Tasks')
  ion-content
    back-button.arrow.back-arrow
    moi-arrow(on-click="toggleDrawer()" orientation="right")
    .frame.panel-tasks
      .frame-container
        .content-title
          | {{ ::'tasks.my_tasks' | translate }}
        .divider-line
        .row.content-tasks
          .col-50.tasks-tabs
            ion-list(no-lines)
              ion-item(ng-repeat="tab in tasksmodel.tabs"
                      ng-click="tasksmodel.changeTab(tab.field)")
                .item-tab(ng-class="{'tab-selected': tab.selected }"
                          ui-sref="{{tab.state}}")
                  img(ng-src="{{tab.image}}")
                  span
                    | {{::tab.name}}
                  .counter-badget(ng-if="tab.field === 'notifications' && tasksmodel.totalNotifications")
                    | {{tasksmodel.totalNotifications}}
                  .counter-badget(ng-if="tab.field === 'recommendations' && tasksmodel.totalRecommendationContents")
                    | {{tasksmodel.totalRecommendationContents}}
          .col-50.tasks-view
            ui-view
    moi-frame(options="{type: 'content_max', showBackButton: true}")
    moi-buttons(options="tasksmodel.buttonsOptions")
    .btn-learn
  moi-sidebar
