.btns-slide{
  position: absolute;
  width: 30%;
  margin-top: -55px;

  .btn-next-slide {
    position: absolute;
    right: -20px;
    bottom: 55%;
  }

  .btn-previous-slide {
    position: absolute;
    left: -16px;
    bottom: 55%;
  }
}

.slide-gallery{
  width: 300px;
  z-index: 1;
  height: 120px;

  .slider {
    height: 20%;
  }
  .item-side{
    width: 33%;
    border-bottom: 3px solid #088A08;
    border-left: 3px solid #088A08;
  }
  .slider-pager-page{
    color: #FFFFFF;
  }
}
