.edit-profile-content {
  .back-arrow {
    .arrow-img {
      bottom: 45%;
      left: 15%;
    }
  }
  .overflow-scroll {
    overflow-y: hidden;
  }

  .flecha-sidebar {
    top: 45%;
  }

  .arrow {
    top: 3%;
    left: 35px;
  }

  .frame {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .frame-container {
    width: 95%;
    height: 84%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 2%;
  }
  .select-images-edit {
    .col-20 {
      max-width: unset;
    }
  }
}
.edit-profile-view{
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-left: 140px;
  padding-top: 50px;
  padding-right: 125px;
  background-image: url(../images/edit-profile/main.png);
  .content.edit-profile{
    width: 100%;
    height: 100%;
    .title-content{
      border-bottom: 3px solid $moiDarkGreen;
      .title-edit-profile{
        color: $moiDarkGreen;
        font-size: 45px;
        font-weight: bold;
        margin-top: 15px;
        font-family: FontMoi-Title;
        width: 100%;
        line-height: 45px;
        padding-left: 25px;
      }
    }
    .btn-save-changes, .btn-choose-photo, .btn-upload-photo{
      padding: 10px 15px;
      text-align: center;
      color: $moiDarkGreen;
      font-family: FontMoi-Title;
      font-weight: bold;
      background-image: url(../images/btn-perfil.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center
    }
    .content-edit-profile{
      width: 100%;
      height: 100%;
      .section-photo::-webkit-scrollbar-track {
        border-radius: 10px;
        border: 1px solid rgba(123, 121, 76, 0.62);
        width: 5px;
      }
      .section-photo::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
        border-radius: 10px;
      }
      .section-photo::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background-color: rgba(123, 121, 76, 0.62);
      }
      @media (min-height: 620px) {
        .section-photo{
          height: 76%;
        }
      }
      @media (max-height: 620px) {
        .section-photo{
          height: 70%;
        }
      }
      @media (max-height: 560px) {
        .section-photo{
          height: 67%;
        }
      }
      .section-photo{
        overflow-y: auto;
        background-color: #7DA462;
        margin-top: 20px;
        margin-right: 47px;
        width: 35%;
        opacity: 0.5;
        border-radius: 20px;
        .title-photo{
          font-family: FontMoi-Title;
          color: $black;
          text-align: center;
          font-size: 25px;
          padding-top: 45px;
          font-weight: bold;
          padding-bottom: 20px;
        }
        .content-photo{
          background-image: url(../images/edit-profile/userphoto.png);
          background-size: 50% 100%;
          height: 150px;
          background-repeat: no-repeat;
          background-position: center;
        }
        @media (max-width: 900px) {
          .content-photo{
            background-size: 70% 100%;
            height: 100px;
          }
        }
        .content-button-photo{
          display: flex;
          flex-flow: column;
          align-items: center;
          .btn-upload-photo, .btn-choose-photo{
            width: 150px;
          }
        }
        .description-photo{
          color: $black;
          font-family: FontMoi-Content;
          text-align: center;
          font-size: 15px;
          font-weight: bold;
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }
      .section-form::-webkit-scrollbar-track {
        border-radius: 10px;
        border: 1px solid rgba(123, 121, 76, 0.62);
        width: 5px;
      }
      .section-form::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
        border-radius: 10px;
      }
      .section-form::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background-color: rgba(123, 121, 76, 0.62);
      }
      @media (min-height: 620px) {
        .section-form{
          height: 76%;
        }
      }
      @media (max-height: 620px) {
        .section-form{
          height: 70%;
        }
      }
      @media (max-height: 560px) {
        .section-form{
          height: 67%;
        }
      }
      .section-form{
        background-color: $backgroundForm;
        margin-top: 20px;
        width: 55%;
        padding-left: 30px;
        opacity: 0.4;
        border-radius: 20px;
        overflow-y: auto;
        form{
          width: 80%;
          .form-group{
            display: flex;
            padding-top: 10px;
            .label-register{
              color: $black;
              font-family: FontMoi-Content;
              font-size: 15px;
              font-weight: bold;
            }
            @media (max-width: 1080px) {
              .label-register{
                font-size: 13px;
              }
            }
            @media (max-width: 850px) {
              .label-register{
                font-size: 11px;
              }
            }
            .label-date{
              display: flex;
              width: 100%;
              input{
                margin-left: 120px;
                padding-left: 10px;
              }
            }
            input{
              background-color: $sourceColor;
              border-radius: 5px;
              padding-left: 10px;
              font-size: 15px;
            }
            @media (max-width: 1080px) {
              input{
                font-size: 13px;
              }
            }
            @media (max-width: 850px) {
              input{
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }
}
