.modal.transparent
  ion-pane.transparent
    .score-container.row
      .main-image.col
        img(src="images/user.png")
      .col-50
        .text-container
          h2#title Felicidades {{model.name}}!
          h2#content Responderás 21 preguntas y al final recibirás tus resultados y recompensa inmediatamente
      .pista.col
    .controls-score
      span.btn-score.button.button-right(ng-click="::model.createFinalTest()") OK
      span.btn-score.button.button-left(ng-click="model.closeModal()") Cancelar
