.modal.transparent
  ion-pane.transparent
    .score-container.row
      .main-image.col
        img(src="images/user.png")
      .col-50
        .text-container
          h2#title Has leído {{model.contentsLearnt}} contenidos.
          h2#content ¿Porqué no probamos si de verdad has aprendido?
      .pista.col
    .controls-score
      span.btn-score.button(ng-click="::model.closeModal()"
                            ui-sref="test({ testId: model.testId, testData: model} )") Continuar
