.modal-notification-join
  .close-button(ng-click="::model.closeModal()")
  .notification-container
    .logo-app
      img(src="images/moi-logo.png")
    .options(ng-click="::model.closeModal()")
      .btn-basic.play
        a(ui-sref='new_login.first_step')
          | Jugar!
      .btn-basic.parents
        a(ng-href="http://moi-backend.growmoi.com/users/sign_in")
          | Padres y tutores
