ion-list(no-lines)
  ion-item
    .item-award
      span.description-content-learned
        | Contenidos aprendidos en total: {{vmProfile.user.content_summary.current_learnt_contents}}/{{vmProfile.user.content_summary.total_approved_contents}}
      br
      span
        | Tests sin errores: {{vmProfile.user.successful_tests}}
      span.btn-view-table(ng-if="!vmProfile.buttonsOptions.readOnly" ng-click="vmProfile.showLeaderboard()")
        | Ver tabla
