.tree-draw {
  .tree{
    &.sixth-level {
      .neuron {
        position: absolute;
        z-index: 2;

        &.second-level {
          &-0 {
            bottom: 25%;
            left: 41%;
          }
          &-1 {
            bottom: 25%;
            left: 45%;
          }
          &-2 {
            bottom: 25%;
            left: 48.5%;
          }
          &-3 {
            bottom: 24.3%;
            left: 52.5%;
          }
        }

        &.third-level {
          &-0 {
            bottom: 25%;
            left: 37.5%;
          }
          &-2 {
            bottom: 32%;
            left: 42.95%;
          }
          &-3 {
            bottom: 32.5%;
            left: 45.8%;
          }
          &-4 {
            bottom: 30.55%;
            left: 50.75%;
          }
          &-6 {
            bottom: 31.2%;
            left: 55.6%;
          }
          &-7 {
            bottom: 24.45%;
            left: 58.2%;
          }
        }

        &.fourth-level {
          &-0 {
            bottom: 26%;
            left: 31.7%;
          }
          &-1 {
            bottom: 28.3%;
            left: 34.47%;
          }
          &-2 {
            bottom: 30.5%;
            left: 31.9%;
          }
          &-4 {
            bottom: 34.2%;
            left: 41.2%;
          }
          &-5 {
            bottom: 38.5%;
            left: 41.6%;
          }
          &-6 {
            bottom: 37%;
            left: 43.8%;
          }
          &-10 {
            bottom: 29.7%;
            left: 47.7%;
          }
          &-11 {
            bottom: 239px; //TO DO: Not found this neuron
            left: 627px; //TO DO: Not found this neuron
          }
          &-8 {
            left: 52.5%;
            bottom: 33.4%;
          }
          &-9 {
            bottom: 37.5%;
            left: 53.5%;
          }
          &-12 {
            bottom: 34.9%;
            left: 59%;
          }
          &-13 {
            bottom: 32%;
            left: 61%;
          }
          &-18 {
            bottom: 30.5%;
            left: 65.6%;
          }
          &-19 {
            bottom: 31.5%;
            left: 68.4%;
          }
          &-20 {
            bottom: 26.3%;
            left: 65.6%;
          }
          &-21 {
            bottom: 27.2%;
            left: 62.1%;
          }
          &-22 {
            bottom: 26.5%;
            left: 68.4%;
          }
        }

        &.fifth-level {
          &-0000{
            bottom: 42.36%;
            left: 34.37%;
          }
          &-0001{
            bottom: 43.75%;
            left: 26.95%;
          }
          &-0002{
            bottom: 36.52%;
            left: 36.71%;
          }
          &-0010{
            bottom: 39.58%;
            left: 30.07%;
          }
          &-0011{
            bottom: 37.77%;
            left: 26.95%;
          }
          &-1000{
            bottom: 45.41%;
            left: 43.35%;
          }
          &-1100{
            bottom: 46.5%;
            left: 46.48%;
          }
          &-1101{
            bottom: 47.63%;
            left: 48.82%;
          }
          &-1020{
            bottom: 41.66%;
            left: 50.39%;
          }
          &-1024{
            bottom: 37.5%;
            left: 49.21%;
          }
          &-1025{
            bottom: 41.94%;
            left: 46.87%;
          }
          &-1023{
            bottom: 41.25%;
            left: 43.35%;
          }
          &-1022{
            bottom: 38.19%;
            left: 45.93%;
          }
          &-1021{
            bottom: 42.77%;
            left: 41.01%;
          }
          &-2000{
            bottom: 58.61%;
            left: 50.93%;
          }
          &-2001{
            bottom: 40.97%;
            left: 55.07%;
          }
          &-2002{
            bottom: 46.52%;
            left: 55.23%;
          }
          &-2003{
            bottom: 52.5%;
            left: 54.29%;
          }
          &-2010{
            bottom: 47.22%;
            left: 52.34%;
          }
          &-2011{
            bottom: 52.77%;
            left: 50.07%;
          }
          &-3000{
            bottom: 46.80%;
            left: 64.68%;
          }
          &-3010{
            bottom: 45.55%;
            left: 62.18%;
          }
          &-3011{
            bottom: 40.97%;
            left: 63.67%;
          }
          &-3100{
            bottom: 44.86%;
            left: 71.25%;
          }
          &-3101{
            bottom: 54.86%;
            left: 69.92%;
          }
          &-3110{
            bottom: 43.05%;
            left: 68.75%;
          }
          &-3111{
            bottom: 49.30%;
            left: 70.85%;
          }
          &-3112{
            bottom: 39.86%;
            left: 71.09%;
          }
          &-3113{
            bottom: 52.77%;
            left: 72.65%;
          }
          &-3130{
            bottom: 50.69%;
            left: 68.35%;
          }
          &-3131{
            bottom: 36.11%;
            left: 69.14%;
          }
          &-3140{
            bottom: 54.16%;
            left: 75.39%;
          }
          &-3141{
            bottom: 36.11%;
            left: 72.26%;
          }
        }

        &.sixth-level {
          &-00000{
            bottom: 31.25%;
            left: 25.78%;
          }
          &-00010{
            bottom: 43.75%;
            left: 23.82%;
          }
          &-00011{
            bottom: 38.88%;
            left: 23.04%;
          }
          &-00012{
            bottom: 34.72%;
            left: 24.21%;
          }
          &-00100{
            bottom: 47.91%;
            left: 27.73%;
          }
          &-00101{
            bottom: 47.5%;
            left: 30.07%;
          }
          &-00102{
            bottom: 52.08%;
            left: 32.81%;
          }
          &-00103{
            bottom: 51.38%;
            left: 30.46%;
          }
          &-00112{
            bottom: 54.86%;
            left: 25.78%;
          }
          &-00111{
            bottom: 51.38%;
            left: 26.56%;
          }
          &-00110{
            bottom: 56.25%;
            left: 27.73%;
          }
          &-10000{
            bottom: 48.61%;
            left: 35.93%;
          }
          &-10001{
            bottom: 46.52%;
            left: 37.89%;
          }
          &-11000{
            bottom: 53.88%;
            left: 46.48%;
          }
          &-11010{
            bottom: 52.36%;
            left: 35.15%;
          }
          &-10200{
            bottom: 50%;
            left: 39.06%;
          }
          &-10240{
            bottom: 56.25%;
            left: 36.328%;
          }
          &-10250{
            bottom: 55.83%;
            left: 34.14%;
          }
          &-10231{
            bottom: 59.02%;
            left: 44.92%;
          }
          &-10230{
            bottom: 58.33%;
            left: 41.79%;
          }
          &-10220{
            bottom: 51.38%;
            left: 44.53%;
          }
          &-11011{
            bottom: 44.44%;
            left: 45.31%;
            width: 25px;
            height: 25px;
          }
          &-11001{
            bottom: 49.30%;
            left: 41.40%;
          }
          &-10210{
            bottom: 53.75%;
            left: 42.18%;
          }
          &-11012{
            bottom: 45.83%;
            left: 41.32%;
          }
          &-11013{
            bottom: 50%;
            left: 47.26%;
          }
          &-20000{
            bottom: 49.30%;
            left: 57.42%;
          }
          &-20010{
            bottom: 53.47%;
            left: 62.10%;
          }
          &-20011{
            bottom: 52.08%;
            left: 59.37%;
          }
          &-20020{
            bottom: 49.02%;
            left: 60.93%;
          }
          &-20021{
            bottom: 45.13%;
            left: 57.42%;
          }
          &-20012{
            bottom: 45.13%;
            left: 59.76%;
          }
          &-20030{
            bottom: 56.25%;
            left: 60.15%;
          }
          &-20031{
            bottom: 54.16%;
            left: 57.03%;
          }
          &-20100{
            bottom: 58.33%;
            left: 54.29%;
          }
          &-20101{
            bottom: 61.11%;
            left: 52.34%;
          }
          &-20110{
            bottom: 65.97%;
            left: 51.17%;
          }
          &-20111{
            bottom: 59.72%;
            left: 58.98%;
          }
          &-30000{
            bottom: 67.36%;
            left: 68.75%;
          }
          &-30001{
            bottom: 59.02%;
            left: 66.79%;
          }
          &-30100{
            bottom: 65.27%;
            left: 64.06%;
          }
          &-30101{
            bottom: 59.02%;
            left: 64.06%;
          }
          &-30110{
            bottom: 50%;
            left: 63.67%;
          }
          &-31000{
            bottom: 67.36%;
            left: 66.40%;
          }
          &-31010{
            bottom: 63.19%;
            left: 68.35%;
          }
          &-31100{
            bottom: 58.33%;
            left: 68.98%;
          }
          &-31101{
            bottom: 61.11%;
            left: 70.31%;
          }
          &-31110{
            bottom: 56.25%;
            left: 71.87%;
          }
          &-31310{
            bottom: 54.16%;
            left: 67.18%;
          }
          &-31311{
            bottom: 63.19%;
            left: 62.10%;
          }
          &-31410{
            bottom: 63.88%;
            left: 72.26%;
          }
          &-31411{
            bottom: 63.19%;
            left: 66.01%;
          }
          &-31412{
            bottom: 59.72%;
            left: 73.43%;
          }
        }
      }

      .branch{
        @extend .full-image;
        @extend .position-branch-image;

        &.second-level {
          &-0 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-3/rama002.png);
            }
          }
          &-1 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-3/rama001.png);
            }
          }
          &-2 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-3/rama003.png);
            }
          }
          &-3 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-3/rama079.png);
            }
          }
        }

        &.third-level {
          &-0 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-3/rama004.png);
            }
          }
          &-2 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-3/rama033.png);
            }
          }
          &-3 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-3/rama032.png);
            }
          }
          &-4 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-3/rama060.png);
            }
          }
          &-6 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-3/rama080.png);
            }
          }
          &-7 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-3/rama081.png);
            }
          }
        }

        &.fourth-level {
          &-0 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-4/rama007.png);
            }
          }
          &-1 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-4/rama006.png);
            }
          }
          &-2 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-4/rama005.png);
            }
          }
          &-4 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-4/rama007.png);
            }
          }
          &-5 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-4/rama034.png);
            }
          }
          &-6 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-4/rama034.png);
            }
          }
          &-10 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-4/rama031.png);
            }
          }
          &-11 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-4/rama061.png);
            }
          }
          &-8 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-4/rama061.png);
            }
          }
          &-9 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-4/rama082.png);
            }
          }
          &-12 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-4/rama082.png);
            }
          }
          &-13 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-4/rama083.png);
            }
          }
          &-18 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-4/rama084.png);
            }
          }
          &-19 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-4/rama084.png);
            }
          }
          &-20 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-4/rama086.png);
            }
          }
          &-21 {
            &.florecida{
              // z-index: 1;
              background-image: url(../images/tree/branchs/level-4/rama085.png);
            }
          }
          &-22 {
            &.florecida{
              background-image: url(../images/tree/branchs/level-4/rama087.png);
            }
          }
        }

        &.fifth-level {
          &-0000{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama011.png);
            }
          }
          &-0001{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama013.png);
            }
          }
          &-0002{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama009-010.png);
            }
          }
          &-0010{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama012.png);
            }
          }
          &-0011{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama013.png);
            }
          }
          &-1000{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama041.png);
            }
          }
          &-1100{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama038.png);
            }
          }
          &-1101{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama037.png);
            }
          }
          &-1020{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama035.png);
            }
          }
          &-1024{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama035.png);
            }
          }
          &-1025{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama038.png);
            }
          }
          &-1023{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama037.png);
            }
          }
          &-1022{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama036.png);
            }
          }
          &-1021{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama040.png);
            }
          }
          &-2000{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama062.png);
            }
          }
          &-2001{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama062.png);
            }
          }
          &-2002{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama062.png);
            }
          }
          &-2003{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama062.png);
            }
          }
          &-2010{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama062.png);
            }
          }
          &-2011{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama062.png);
            }
          }
          &-3000{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama088.png);
            }
          }
          &-3010{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama088.png);
            }
          }
          &-3011{
            &.florecida{
              // z-index: 1;
              background-image: url(../images/tree/branchs/level-5/rama088.png);
            }
          }
          &-3100{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama089.png);
            }
          }
          &-3101{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama092.png);
            }
          }
          &-3110{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama091.png);
            }
          }
          &-3111{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama092.png);
            }
          }
          &-3112{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama090.png);
            }
          }
          &-3113{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama092.png);
            }
          }
          &-3130{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama093.png);
            }
          }
          &-3131{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama089.png);
            }
          }
          &-3140{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama093.png);
            }
          }
          &-3141{
            &.florecida{
              background-image: url(../images/tree/branchs/level-5/rama089.png);
            }
          }
        }

        &.sixth-level {
          &-00000{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama015.png);
            }
          }
          &-00010{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama014.png);
            }
          }
          &-00011{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama014.png);
            }
          }
          &-00012{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama015.png);
            }
          }
          &-00100{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama017.png);
            }
          }
          &-00101{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama016.png);
            }
          }
          &-00102{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama016.png);
            }
          }
          &-00103{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama016.png);
            }
          }
          &-00112{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama019.png);
            }
          }
          &-00111{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama019.png);
            }
          }
          &-00110{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama019.png);
            }
          }
          &-10000{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama040.png);
            }
          }
          &-10001{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama044.png);
            }
          }
          &-11000{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama040.png);
            }
          }
          &-11010{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama045.png);
            }
          }
          &-10200{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama045.png);
            }
          }
          &-10240{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama045.png);
            }
          }
          &-10250{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama045.png);
            }
          }
          &-10231{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama046.png);
            }
          }
          &-10230{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama047.png);
            }
          }
          &-10220{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama040.png);
            }
          }
          &-11011{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama046.png);
            }
          }
          &-11001{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama046.png);
            }
          }
          &-10210{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama046.png);
            }
          }
          &-11012{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama043.png);
            }
          }
          &-11013{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama040.png);
            }
          }
          &-20000{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama063.png);
            }
          }
          &-20010{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama065.png);
            }
          }
          &-20011{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama065.png);
            }
          }
          &-20020{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama064.png);
            }
          }
          &-20021{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama063.png);
            }
          }
          &-20012{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama064.png);
            }
          }
          &-20030{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama065.png);
            }
          }
          &-20031{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama063.png);
            }
          }
          &-20100{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama066-068.png);
            }
          }
          &-20101{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama066-068.png);
            }
          }
          &-20110{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama066-068.png);
            }
          }
          &-20111{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama065.png);
            }
          }
          &-30000{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama098.png);
            }
          }
          &-30001{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama096.png);
            }
          }
          &-30100{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama097.png);
            }
          }
          &-30101{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama097.png);
            }
          }
          &-30110{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama094.png);
            }
          }
          &-31000{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama098.png);
            }
          }
          &-31010{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama098.png);
            }
          }
          &-31100{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama095.png);
            }
          }
          &-31101{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama100.png);
            }
          }
          &-31110{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama099.png);
            }
          }
          &-31310{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama095.png);
            }
          }
          &-31311{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama097.png);
            }
          }
          &-31410{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama099.png);
            }
          }
          &-31411{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama096.png);
            }
          }
          &-31412{
            &.florecida{
              background-image: url(../images/tree/branchs/level-6/rama099.png);
            }
          }
        }
      }
    }
  }
}
