/* Empty. Add your own CSS if you like */
a {
  display: block;
}

.app-content {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.overflow-scroll {
  overflow-y: visible;
}

.tree-view {
  .overflow-scroll {
    overflow-y: hidden;
  }

  .tree-content {
    position: relative;
    display: flex;
    align-content: flex-end;
    justify-content: center;
    z-index: 1;

    .flowerpot {
      position: relative;

      &-img {
        width: 450px;
      }
    }

    .tree {
      position: absolute;
      bottom: 110px;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;

      .tree-img {
        position: relative;
        bottom: 160px;

        img {
          width: 100%;
        }

        .tronco-root {
          position: absolute;
          left: 0;
        }
      }

      .tree-neuron-root {
        position: relative;
        width: 80px;
        height: 80px;
        left: 190px;
        bottom: 340px;

        img {
          width: 80px;
        }

        &.third-level {
          width: 80px;
          height: 80px;
          left: 190px;
          bottom: 440px;
        }
      }
    }
  }

  .tree-section {
    position: relative;
    width: 100%;
    height: 100%;

    .tree-content {
      position: absolute;
      display: flex;
      align-content: flex-end;
      justify-content: center;
      width: 100%;
      height: 100%;
      z-index: 0;

      .flowerpot {
        position: absolute;
        bottom: 0;

        &-img {
          width: 450px;
        }
      }
    }

    .tree-draw {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  .app-content {
    .back-arrow {
      .arrow-img {
        bottom: 13%;
        left: 13%;
      }
    }
  }
}

.clouds-container {
  .cloud {
    right: 0;
    width: 100%;
    text-align: right;
    position: absolute;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    &:nth-child(1) {
      top: 115px;
      -webkit-animation-duration: 40s;
    }

    &:nth-child(2) {
      top: 130px;
      -webkit-animation-duration: 50s;
      text-align: left;
    }

    &:nth-child(3) {
      top: 190px;
      -webkit-animation-duration: 50s;
    }
  }

  .tree-second-level {
    .tree-neuron {
      &-0 {
        position: absolute;
        right: 100px;
      }
    }
  }
}

.tree-percentage {
  position: absolute;
  top: 8%;
  right: 3%;

  .percentage-container {
    position: relative;
    width: 120px;

    .percentage-progress-bar {
      z-index: -1;
      position: relative;
      background: #c9cea5;
      border-top-left-radius: 10px;
      top: 10px;
      left: 4px;
      width: 75px;
      height: 27px;

      .label {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        color: $moiDarkGreen;
        font-family: FontMoi-Title;
        font-weight: bold;
        font-size: 12px;
      }

      .percentage-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        z-index: 0;
        border-top-left-radius: 10px;
        padding: 0;
        background-color: #40c8b3
      }

    }

    .widget {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
  }

}

.level-user{
  position: absolute;
  bottom: 10%;
  left: 6%;
  height: 32%;
  width: 8.5%;
  .level-user-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .level-container{
      position: relative;
      height: 100%;
      z-index: 1;
      .level-progress-bar{
        z-index: -1;
        position: relative;
        background: #c9cea5;
        height: 180px;
        width: 80px;
        -webkit-mask-image: url(../images/internal-bar.png);
        mask-image: url(../images/internal-bar.png);
        -webkit-mask-size: 38px 155px;
        mask-size: 38px 155px;
        -webkit-mask-position: center center;
        mask-position: center center;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        .level-bar {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0%;
          z-index: 0;
          padding: 0;
          background-color: #40c8b3
        }
      }
    }
    .widget{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .counter-container {
      position: absolute;
      top: -30px;
      right: 0px;
      .counter{
        position: relative;
        display: block;
        span{
          position: absolute;
          top: 46%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .point{
      position: absolute;
      bottom: 0;
      z-index: 1;
    }
  }
}

.btn-shared-tree {
  position: absolute;
  bottom: 18%;
  right: 5%;
  background-image: url(../images/btn_shared_tree.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 4em;
  height: 4em;
  cursor: pointer;
  z-index: 2;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg); } }
@keyframes rotate { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.application {
  [view-title='TreeMoi'] {
    background: transparent;
  }
}

.movies-container {
  justify-content: center;
  display: flex;
  height: 100%;
  width: 100%;

  .container-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .logo-loading {
      background-image: url("../images/loading.gif");
      background-repeat: no-repeat;
      background-size: 60%;
      width: 6em;
      height: 6em;
    }
  }

  .vinetas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    video{
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}
@media (max-width: 1700px) {
  .tree-view {
    .tree-section {
      .tree-draw {
        left: 1%;
        bottom: -3.5%;
      }
    }
  }
}

@media (max-width: 1550px) {
  .tree-view {
    .tree-section {
      .tree-draw {
        left: 1%;
        bottom: -3%;
      }
    }
  }
}

@media (max-width: 1400px) {
  .tree-view {
    .tree-section {
      .tree-draw {
        left: 1%;
        bottom: -2.5%;
      }
    }
  }
}

@media (max-width: 1300px) {
  .tree-view {
    .tree-section {
      .tree-draw {
        left: 1%;
        bottom: -1.5%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .btn-shared-tree {
    zoom: 0.85;
  }
  .tree-percentage {
    zoom: 0.85;
  }
  .level-user {
    zoom: 0.85;
  }
  .tree-view {
    .tree-content {
      zoom: 0.85;
    }
    .tree-section {
      .tree-draw {
        left: 1%;
        bottom: -3%;
        .neuron {
          zoom: 0.7;
        }
        .tree-neuron-root {
          zoom: 0.7;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .tree-view {
    .tree-section {
      .tree-draw {
        left: 0;
        bottom: -2%;
      }
    }
  }
}

@media (max-width: 950px) {
  .btn-shared-tree {
    zoom: 0.75;
  }
  .tree-percentage {
    zoom: 0.75;
  }
  .level-user {
    zoom: 0.75;
  }
  .tree-view {
    .tree-content {
      zoom: 0.75;
    }
    .tree-section {
      .tree-draw {
        left: 0;
        bottom: 0;
        .neuron {
          zoom: 0.6;
        }
        .tree-neuron-root {
          zoom: 0.6;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .btn-shared-tree {
    zoom: 0.65;
  }
  .tree-percentage {
    zoom: 0.65;
  }
  .level-user {
    zoom: 0.65;
  }
  .tree-view {
    .tree-content {
      zoom: 0.65;
    }
    .tree-section {
      .tree-draw {
        left: 1%;
        bottom: 0;
        .neuron {
          zoom: 0.5;
        }
        .tree-neuron-root {
          zoom: 0.5;
        }
      }
    }
  }
}