ion-content.content_tasks
  .row.note(ng-repeat='notification in notificationsModel.notifications')
    .remove-task(ng-click='notificationsModel.removeItem(notification, $index)')
    .row-notification(ng-include="notificationsModel.getNotificationPartial(notification)")
  ion-infinite-scroll(ng-if='!notificationsModel.noMoreItemsAvailable'
                      on-infinite='notificationsModel.loadMoreNotifications()'
                      distance='10%')
