ion-content.content_tasks
  .col.col-50.content(ng-repeat='item in vm.items track by item.id')
    .remove-task(ng-if='::vm.showDeleteIcon(item)' ng-click='vm.onClickDelete(item)')
    .content-kind-contents(ui-sref='content({neuronId: item.neuron_id, contentId: item.id})')
      img.format-image(ng-src='{{::item.media[0]}}')
      .leyend-bottom(title='{{::item.title}}', ellipsis-title='item.title', height='45')

  ion-infinite-scroll(ng-if='!vm.noMoreItemsAvailable'
                      on-infinite='vm.loadMoreItems()'
                      distance='10%')
