.friends-container {
  .back-arrow {
    .arrow-img {
      bottom: 15%;
      left: 20%;
    }
  }
  .frame {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .frame-container {
    width: 95%;
    height: 84%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 2%;
  }
}

.content-searches {
  .content-title{
    position: relative;
    color: #4A4B21;
    font-size: 45px;
    font-weight: bold;
    font-family: FontMoi-Title;
    left: 115px;
    top: 75px;
  }
  .divider-line-search{
    position: absolute;
    background: url("../images/linea_separacionM.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 87%;
    height: 5px;
    top: 120px;
    left: 110px;
  }
  @media (max-width: 1080px) {
    .divider-line-search{
      width: 80%;
    }
  }

  .result-searches::-webkit-scrollbar-track {
    border-radius: 10px;
    border: 1px solid rgba(123, 121, 76, 0.62);
    width: 5px;
  }
  .result-searches::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    border-radius: 10px;
  }
  .result-searches::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: rgba(123, 121, 76, 0.62);
  }
  .result-searches{
    .user{
      height: 200px;
      .content-kind-contents {
        position: relative;
        width: 180px;
        height: auto;
        margin: auto;
        cursor: pointer;
        img {
          position: relative;
          width: 100%;
          height: 100%;
        }
        .user-name{
          position: absolute;
          bottom: 25px;
          left: 34%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          font-family: FontMoi-Title;
          font-size: 15px;
          font-weight: bold;
          color: bisque;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 75px;
        }
      }
    }
  }
}
